<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- This is the jdbc connection that will be used after development. -->

        <!--
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">p4ssw0rd</property>
        <property name="hibernate.connection.url">jdbc:postgresql://URLHERE</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        -->

        <!-- This is the H2 connection that will be used during development. -->
        <property name="hibernate.connection.username">"sa"</property>
        <property name="hibernate.connection.password">"sa"</property>
        <property name="hibernate.connection.url">jdbc:h2:C:\\Users\\AYarn\\Desktop\\hd2b</property>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>

        <!-- So that I can see the SQL in console when developing/testing -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">validate</property>


    </session-factory>
</hibernate-configuration>