
    <div class = "signup-container">
        <div>Username: <input type="text" [(ngModel)]="_username"></div>
        <div>Password: <input type="password" name="password" id="password" placeholder="Please Enter Your Password"/></div>
        <div>Firstname: <input type="text" name="firstname" id="firstname" placeholder="Please Enter Your Firstname"/></div>
        <div>Lastname: <input type="text" name="lastname" id="lastname" placeholder="Please Enter Your Lastname"/></div>
        <div>Email: <input type="email" name="email" id="email" placeholder="email@revature.net"/></div>
        <div>Profile Picture: <input type="file" name="profile" id="profile"/></div>
        <div></div>
    </div>

